.container {
    padding: 20px;
    width: 100%;
    margin: auto;
    position: relative;
    min-height: 90vh;
}

.header {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    align-items: center;
}

.shareButton {
    margin-right: 10px !important;
    margin-left: auto !important;
}

.arrowBack {
    margin: 10px;
    cursor: pointer;
}

.questionDiv {
  display: flex;
  align-items: center;
}

.ChoiceDiv {
  display: flex;
  align-items: flex-start;
}
